{% extends 'base.html.twig' %}

{% block title %}Pret
{% endblock %}

{% block body %}
	<h1>Pret</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ pret.id }}</td>
			</tr>
			<tr>
				<th>Date_debut</th>
				<td>{{ pret.dateDebut ? pret.dateDebut|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Date_retour</th>
				<td>{{ pret.dateRetour ? pret.dateRetour|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th></th>
				<td>{{ materiel.id_materiel_id }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_pret_index') }}">back to list</a>

	<a href="{{ path('app_pret_edit', {'id': pret.id}) }}">edit</a>

	{{ include('pret/_delete_form.html.twig') }}
{% endblock %}
